* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	color: #222;
	padding-inline: 10px;
}

.title {
	text-align: center;
	font-size: 30px;
	padding-block: 20px;
}

.form {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.info {
	color: #aaa;
	display: flex;
	gap: 5px;
	align-items: center;
}

#loginIcon {
	width: 20px;
	height: 20px;
	opacity: 0.5;
}

input {
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px solid darkgreen;
}

.error {
	color: red;
}

#loginButton {
	background-color: darkgreen;
	color: white;
	padding: 10px 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
	align-self: flex-start;
}

.centered {
	text-align: center;
}

#softwareImage {
	width: min(100%, 300px);
}
