* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	color: #222;
	padding-inline: 0.5rem;
}

h1 {
	text-align: center;
	padding-block: 1.5rem;
	font-weight: initial;
}

#loginForm {
	max-width: 25rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.info {
	color: #555;
	display: flex;
	gap: 0.4rem;
	align-items: center;
}

#loginIcon {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.6;
}

input {
	width: 100%;
	padding: 0.5rem;
	border: 0.1rem solid darkgreen;
}

input:focus {
	outline: 0.1rem solid blue;
}

.error {
	color: red;
}

button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	outline-offset: 0.2rem;
}

button:focus {
	outline: 0.1rem solid blue;
}

#loginButton {
	background-color: darkgreen;
	color: white;
	padding: 0.6rem 1.2rem;
	text-align: center;
	cursor: pointer;
	border-radius: 0.4rem;
	align-self: flex-start;
}

.centered {
	text-align: center;
}

#softwareImage {
	width: min(100%, 20rem);
}

.asterisk {
	color: #dd0000;
}

#required {
	margin-bottom: 0.5rem;
}

.visually-hidden {
	position: absolute;
	width: 0.1rem;
	height: 0.1rem;
	left: -100000rem;
	overflow: hidden;
}
